@import "variables";
.account {
  background-color: #fbfbfb;
  &__info {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 5px;
    width: 60%;
    margin: 100px auto 10px;
    padding: 30px 18px;

    flex-grow: 3.5;
    &__first {
      display: flex;
      h4 {
        width: 100%;
      }
    }
    &__second {
      display: flex;
      
    }
    &__details {
      position: relative;
      display: block;
      h1 {
        font-size:1.8rem;
      }
    }
    &__membership {
      position: relative;
      display: inline-block;
      border-radius: 8px;
      height: 230px;
      background-color: white;
      flex-grow: 5;
      padding: 13px 18px;
      box-shadow: 0 0.08em 0.25em 0.075em rgba(0, 0, 0, 0.075);
      margin-right: 30px; 
      box-sizing: content-box;
      h2 {
        margin-bottom: 90px;
      }
      span {
        position: absolute;
        bottom: 10px;
        right: 10px;
        line-height: 80%;
        font-size: 12px;
        color: grey!important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: uppercase;
      }
    }
    &__type {
      position: relative;
      display: inline-block;
      border-radius: 8px;
      flex-grow: 5;
      padding: 0px 18px;
      &--text{
        margin: 20px 0px;
        span {
          font-size: 14px;
          color: grey;
        }
      }
    }
  }
  &__setting {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 5px;
    margin: 0px auto;
    padding: 27px 18px;
    width: 60%;
    .ticket {
      background-color: white;
      height: 60px;
      padding: 14.4px 18px;
      box-shadow: 0 0.08em 0.25em 0.075em rgba(0, 0, 0, 0.075);
      width: 42%;
      display: inline-block;
      border-radius: 5px;
      margin: 10px 14px 10px 0px;
      border-left: 5px solid white;
      cursor: pointer;
      box-sizing: content-box;
      transition: 0.3s;
    }
    .ticket:hover {
      border-left-color: $brandcolor;
    }
    &__card {
      height: 100%;
      &__icon {
        font-size: 26px;
        display: inline-block;
        text-align: left;
        position: relative;
        top: 0%;
        color: black;

      }
      &__text {
        display: inline-block;
        margin: 0px 14px;
        color: black;
        p {
          margin: 0;
          color: rgba(0, 0, 0, 0.575);
          font-size: 13px;
        }
      }
      &__arrow {
        position: relative;
        color: lightgrey;
        font: 1.3em sans-serif;
        float: right;
        right: 0px;
        top: 20px;
      }
    }
  }
}

router-link {
  text-decoration: none;
}
router-link:active {
  text-decoration: none;
  color: black;
}
router-link:visited {
  text-decoration: none;
  color: black;
}

.security-settings {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
  height: 100%;
  border: 1px solid transparent;
  .password-changer {
    background-color: white;
    border-radius: 5px;
    width: 50%;
    label,
    input,
    button {
      display: block;
    }
    form {
      width: 90%;
      margin: 15px auto;
      padding: 15px;
      .btnSubmit {
        height: 30px;
        border: none;
        background: $brandcolor;
        color: white;
        font-family: "Open Sans", sans-serif;
        padding: 5px 30px;
        box-sizing: content-box;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
      }
      input {
        border: none;
        width: 100%;
        border-bottom: 2px solid lightgrey;
        margin: 20px auto 8px;
        position: relative;
        padding-bottom: 10px;
        box-sizing: border-box;
        transition: 0.3s;
        &:focus {
          outline: none;
          border-bottom: 2px solid $brandcolor;
        }
      }
      label {
        margin: 0px;
        font-size: 0.8em;
        font-weight: bold;
      }
      .show-box {
        align-self: flex-end;
        height: 30px;
        opacity: 0.5;
        button {
          float: right;
          background: none;
          border: none;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
      ul {
        li {
          list-style: none;
          i {
            margin-left:-15px; 
            margin-right:15px; 
          }
        }
        .checked {
          color: $brandcolor;
        }
      }
      .short {
        color: #ff4136;
      }
      .weak {
        color: orange;
      }
      .fair {
        color: $brandcolor;
      }
      .excellent {
        color: limegreen;
      }
      .rg-bar {
        background-color: lightgray;
        width: 75%;
        margin-top: 10px;
        height: 8px;
        border-radius: 2px;
        .highlight {
          height: 100%;
          transition: 0.5s;
          width: 5%;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          background-color: gray;
        }
        .bgShort {
          background-color: #ff4136;
          width: 15%;
        }
        .bgWeak {
          background-color: orange;
          width: 40%;
        }
        .bgFair {
          background-color: $brandcolor;
          width: 60%;
        }
        .bgExcellent {
          background-color: limegreen;
          width: 100%;
        }
      }
    }
  }
}

.app-settings {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #fbfbfb;
  border: 1px solid transparent;
  .content {
    display: flex;
  }
  .language {
    width: 40%;
    ul {
      list-style: none;
      background-color: white;
      margin: 0px;
      padding: 0px;
      border-radius: 8px;
      li {
        padding: 12px 18px;
        border-bottom: 1px solid lightgrey;
        cursor: pointer;
        transition: 0.3s;
        &:last-child {
          border: none;
        }
        &:hover i {
          opacity: 1;
          transition: 0.3s;
        }
        span {
          margin-right: 20px;
          top: 5px;
          position: relative;
        }
        i {
          color: $brandcolor;
          font-size: 1.3em;
          position: relative;
          transition: 0.3s;
          opacity: 0;
        }
        .name {
          width: 80%;
          display: inline-block;
        }
        .current {
          opacity: 1;
        }
      }
    }
  }
  .usage {
    margin-left: 30px;
    width: 40%;
    ul {
      list-style: none;
      background-color: white;
      margin: 0px;
      padding: 0px;
      li {
        background-color: white;
        display: flex;
        height: 50px;
        padding-left: 0px;
        padding: 10px 18px;
        box-sizing: content-box;
        border-bottom: 1px solid lightgray;
        list-style: none;
        &:last-child {
          border: none;
        }
        .switch {
          position: relative;
          width: 40px;
          height: 20px;
          margin: 10px;
          flex-grow: 1;
          input {
            display: none;
            &:checked + .slider {
              background-color: $brandcolor;
            }
            &:focus + .slider {
              box-shadow: 0 0 1px $brandcolor;
            }
            &:checked + .slider:before {
              -webkit-transform: translateX(16px);
              -ms-transform: translateX(26px);
              transform: translateX(20px);
            }
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 34px;
            &:before {
              position: absolute;
              content: "";
              height: 14px;
              width: 14px;
              left: 3px;
              bottom: 3px;
              background-color: white;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              border-radius: 50%;
            }
          }
        }
        .usage__text {
          flex-grow: 100;
          p {
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
          }
        }
      }
    }
  }
}