
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 2;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: deepskyblue;
    }
  }

}
.container {
  width: 100%;
  display: flex;
  padding: 35px 40px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  text-align: left;
  box-sizing: border-box;
  &__logo {
    order: 1;
    flex-grow: 1;
    .n26_logo {
      height: 32px;
      width: 60px;
      fill: currentcolor;
      position: relative;
    }
  }
  &__transactions {
    order: 2;
    flex-grow: 3.5;
    top: 5px;
    left: 42px;
    position: relative;
    .fa-list {
      margin-right: 15px;
      font-size: 20px;
      position: relative;
      top: 2px;
    }
  }
  &__account {
    order: 3;
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;
    .fa-user {
      margin-right: 20px;
      font-size: 20px;
      font-weight: lighter;
    }
  }
  div {
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.bg {
  background: white;
  box-shadow: 0 0.08em 0.25em 0.075em rgba(0, 0, 0, 0.075);
  transition: 0.3s;
}