@import "variables";

.signup {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  &__form {
      height: 100%;
      width: 65%;
      background-color: $bg-color-light;
      box-sizing: border-box;
      color: $font-color;
      font-size: 0.9em;
      font-weight: bold;
      display: inline-block;
      form {
      width: 70%;
      padding-left: 25%;
      position: relative;
      float: right;
      height: 100%;
      padding-top: 100px;
      h1 {
          font-size: 2.3rem;
      }
      input, label {
          display: block;
      }
      input, button {
          width: 90%;
          height: 40px;
          margin: 10px 0 20px 0;
          border-radius: 3px;
          border: none;
          background-color: $bg-color-element;
          font-family: "Open Sans", sans-serif;
          color: $font-color;

      }
      input {
        padding-left: 10px; 
      }
      button {
          margin-top: 50px;
          color: $font-color;
          border: 3px solid $font-color;
          font-weight: bold;
          height: 50px;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
          border-color: #007fff;        
          }
      }
      p {
          font-size: 0.8rem;
          font-weight: lighter;
          margin-bottom: 10%;
          color: rgba(255, 255, 255, 0.7);
          width: 90%;
          strong {
          color: rgba(255, 255, 255, 1);
          cursor: pointer;
          }
      }
      }
  }
  &__sidebar {
    background: url(../assets/img/sidebar-bg.jpg) no-repeat;
    background-size:100% 100%;
    display: inline-block;
    width: 60%;
    height: 100%;
    color: $font-color;
    box-sizing: border-box;
    &__header {
      top: 0;
      right: 0;
      position: relative;
      width: 100%;
      text-align:right;
      padding:40px 0px;
      span {
        margin-right: 20px;
      }
      .login-btn{
        border: 2px solid $brandcolor;
        border-radius: 3px;
        color: $brandcolor;
        padding: 5px 25px;
        text-decoration: none;
        transition: 0.3s;
        margin-right:30px;
        &:hover {
          background-color: $brandcolor;
          color: $bg-color-element;
        }
      }
    }
    &__footer {
      border: 1px solid red;
      position: absolute;
      bottom: 40px;
    }
  }
}