.spaces {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  border-radius: 5px;
  display: block;
  background-color: #fbfbfb;
  box-sizing: border-box;

  &__main-details {
    text-align: left;
    width: 60%;
    margin: 100px auto 20px;
    padding: 30px 18px 0 18px;


    &__label {
      color: grey;
      font-weight: lighter;
      position: relative;
      top: -20px;
    }
  }
  ul {
      padding: 30px 18px 0 18px;
      width: 60%;
      margin: 10px auto;
      display: flex;
      flex-wrap: wrap;
    li {
      list-style: none;
      padding: 0 10px;
      width: 200px;

    }
  }
    &__details {
      order: 2;
      text-align: center;
      &__name {
        display: block;
      }
      &__balance {
        color: grey;

      }
    }
    &__square {
      order: 1;
      img {
        width: 200px;
        height: 200px;
        border-radius: 8px;
      } 
    }
    &__create-new {
      all: unset;
      width: 200px;
      height: 200px;
      background-color: white;
      border-radius: 8px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      font-size: 18px;
      line-height: 22px;
      color: deepskyblue;
      border: 2px solid transparent; 
      transition: all 0.3s;
      &:hover {
        border: 2px solid deepskyblue;
      }
      i {
        font-size: 48px;
      }
    }
}