@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "variables";


html {
  width: 100%;
  height: 100%;
}
body {
  background-color: $bg-color-light;
  width: 100%;
  height: 100%;
  margin: 0px;
}
#app {
  font-family: "Open Sans", sans-serif;
  background-color: $bg-color-light;
  color: $font-color;
  height: 100%;
}
h1 {
  font-size: 1.8rem;
}
router-link {
  text-decoration: none;
  color: black;
}
router-link:active {
  text-decoration: none;
  color: black;
}
router-link:visited {
  text-decoration: none;
  color: black;
}
.box {
  width: 50%;
  padding: 20px 18px;
  margin: 100px auto;
  height: 100%;
  position: relative;
  bottom: 0px;
  .intro {
    margin-bottom: 80px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h1 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
}
.box-shadow {
  box-shadow: 0 0.08em 0.25em 0.075em rgba(0, 0, 0, 0.075);
}
.support-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12.5px;
}
.disabled {
  opacity: 0.5;
}
.card-settings {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color-light;
  height: 100%;

  .info {
    display: flex;
    .photo {
      img {
        width: 450px;
        height: 280px;
      }
    }
    .gear {
      margin-left: 20px;
      h4 {
        margin: 0 0 15px 0;
      }
      &__item {
        display: flex;
        cursor: pointer;
        margin: 20px 0;
        &:hover span {
          border-bottom: 3px solid $brandcolor;
        }
        &--title {
          p {
            margin-top: 5px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        i {
          font-size: 34px;
          padding: 10px 20px;
        }
      }
    }
  }
  .bottom-shelf-title {
    display: flex;
    margin-top: 50px;
    h4 {
      margin: 0px;
      width: 50%;
    }
  }
  .bottom-shelf {
    display: flex;
  }
  .usage {
    width: 50%;
    ul {
      background: $bg-color-element;
      border-radius: 8px;
      padding: 0px;
      width: 90%;
      li {
        background-color: $bg-color-element;
        display: flex;
        height: 60px;
        padding: 14.4px 18px;
        box-sizing: content-box;
        border-bottom: 1px solid lightgray;
        list-style: none;
        &:last-child {
          border: none;
        }
        .switch {
          position: relative;
          width: 60px;
          height: 34px;
          margin: 20px;
          flex-grow: 1;
          input {
            display: none;
            &:checked + .slider {
              background-color: $brandcolor;
            }
            &:focus + .slider {
              box-shadow: 0 0 1px $brandcolor;
            }
            &:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 34px;
            &:before {
              position: absolute;
              content: "";
              height: 28px;
              width: 28px;
              left: 5px;
              bottom: 3px;
              background-color: $bg-color-element;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              border-radius: 50%;
            }
          }
        }
        .usage__text {
          flex-grow: 100;
          p {
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
          }
        }
      }
    }
  }
  .limits {
    width: 50%;
    margin-top: 17px;
    ul {
      margin: 0px;
      padding: 0px;
      border-radius: 5px; 
      li {
        list-style: none;
        padding: 14.4px 18px;
        border-bottom: 1px solid lightgray; 
        .text {
          .amount {
            float: right;
          }
          span {
            margin: 0px;
            padding:  0px;
          }
          p {
            margin: 0px;
            padding:  0px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
          }
        }
      }
    }
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $brandcolor;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #4caf50;
      cursor: pointer;
    }
  }
}

.right-border {
  border-left: 4px solid $brandcolor;
  transition: all 0.2s;
  padding-left: 15px !important;
}

router-link {
  text-decoration: none;
  color: $font-color;
}
router-link:active {
  text-decoration: none;
  color: $font-color;
}
router-link:visited {
  text-decoration: none;
  color: $font-color;
}