@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$brandcolor: deepskyblue;
$bg-color-light:#fbfbfb;

html {
  width: 100%;
  height: 100%;
}
body {
  background-color: $bg-color-light;
  width: 100%;
  height: 100%;
  margin: 0px;
}
#app {
  font-family: "Open Sans", sans-serif;
  background-color: $bg-color-light;
  height: 100%;

}
h1 {
    font-size: 1.8rem;
  }
router-link {
  text-decoration: none;
  color: black;

}
router-link:active {
  text-decoration: none;
  color: black;
}
router-link:visited {
  text-decoration: none;
  color: black;
}
.box {
  width: 50%;
  padding: 20px 18px;
  margin: 100px auto;
  height: 100%;
  position: relative;
  bottom: 0px;
  .intro {
    margin-bottom: 80px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h1 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
}
.box-shadow {
  box-shadow: 0 0.08em 0.25em 0.075em rgba(0, 0, 0, 0.075);
}
.support-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12.5px;
}
.disabled {
  opacity: 0.5;
}
