@import "variables";

.transfer {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  border-radius: 5px;
  display: block;
  background-color: $bg-color-light;
  box-sizing: border-box;

  &__info {
    text-align: left;
    width: 60%;

    margin: 120px auto 45px 0;
    padding: 30px 18px 0 18px;
    a {
      text-decoration: none ;
      color: rgba(0, 0, 0, 0.8);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__main {
    border-radius: 8px;
    margin: 20px;
    padding: 20px 30px; 
    background: $bg-color-element;
    &__spaces {
      display: flex;
      &__account{
        flex: 1;
        display: flex;
        box-shadow: 0 1px 0 rgb(245, 245, 245);
        padding-bottom: 15px;

        &__info {
          font-size: 14px;
          display: flex;
          flex-wrap: wrap;
          margin-left: 25px;;
          .balance {
            opacity: 0.4;
            width: 100%;
          }
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 8px;
        }
      }
    }
    &__amount {
      margin: 30px 0;
      padding: 15px 0;
      font-size: 200%;
      opacity: 0.4;
      input {
        all: unset;        
      }
    }
    &__balance-tip {
      font-size: 100%;
      opacity: 0.7;
    }
    &__confirm {
      button {
        all: unset;
        background: $brandcolor;
        color: $bg-color-element;
        padding: 15px 20px;
        border-radius: 8px;
        margin-top: 20px; 
      }
    }
  }
}