$brandcolor: deepskyblue;

// dark theme
// $bg-color-light:#202020;
// $bg-color-element:#2d2d2d;
// $font-color:#fbfbfb;

//light theme
$bg-color-light:#fbfbfb;
$bg-color-element:white;
$font-color:#222;